.app {
  display: grid;
  grid-template-columns: auto 800px auto;
  grid-template-rows: 100px auto 60px;
  grid-template-areas:
    ". header ."
    ". main   ."
    ". footer .";
  width: 100%;
  height: 100%;
  background-color: #193540;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  grid-area: header;
  align-self: end;
  font-size: 20pt;
  padding-bottom: 10pt;
  color: #5F7884;
}

.main {
  display: grid;
  grid: 40px auto / 100%;
  grid-area: main;
  background-color: #899EAA;
}

.tabs {
  display: grid;
  grid: 32pt / 50% 50%;
  width: 100%;
}

.tab {
  display: grid;
  place-self: stretch;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  color: #899EAA;
  background-color: #405D64;
}

.tab:hover {
  cursor: pointer;
  color: #193540;
}

.tab.active {
  color: #193540;
  background-color: #5F7884;
  text-decoration: underline;
}

.knobs {
  display: grid;
  grid: 33% 33% 33% / 40% 40%;
  align-items: center;
  justify-content: center;
}

.examples {
  display: grid;
  grid: 340px 200px / 220px 480px auto;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  text-align: center;
  font-size: 14pt;
  padding-top: 8pt;
  color: #405D64;
}

.hidden {
  display: none;
}

.center {
  display: grid;
  align-items: center;
  justify-content: center;
}